# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out
build
dist

# Turbo
.turbo

# Env files
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp

# Generated types
packages/api-client/src/*.d.ts

# Logs
*.log
npm-debug.log*
